* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    background-color: white;
}

.headerBottom {
    border-bottom: 1px solid #e5e8eb;
}

.logoImg {
    width: 100px;
    height: 60px;
}

.header-ul {
    display: flex;
    margin: 0;
    list-style: none;
}

.header-li {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}