body {
  position: relative;
  margin: 0;
}

.b_watch {
  height: 4rem;
  display: flex;
  justify-content: center;
}

.b_watch_item {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  color: #ccc;
}
.b_watch_item_active {
  color: black;
  border-bottom: 2px solid black;
}

.hash {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.hash1 {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #505050;
  background-color: #ffffff;

  margin-right: 20px;
}

.hash2 {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #505050;
  margin-right: 20px;
  background-color: #505050;
  color: #ffffff;
}

.sort_fil {
  display: flex;
  margin: 0 auto;
  margin-bottom: 13px;
  justify-content: end;

  width: 955px;
  height: 30px;
}

.sorting {
  display: flex;
  margin-right: 5px;
  flex-direction: row;
  justify-content: flex-end;
}

.filter {
  width: 30px;
  height: 30px;
}

.pink_background {
  width: 100%;
  height: 100%;
  background: #fff6f6;
  position: relative;
}

.pics_cakes {
  width: 958px;
  height: 958px;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  place-items: center;

  align-items: center;
  justify-content: center;
  align-content: stretch;

  text-align: center;
}

.cp {
  width: 220px;
  height: 220px;
  margin: 0 26px 26px 0px;
}

.cp:nth-child(4n) {
  margin-right: 0px;
}

img {
  width: 450px;
  height: 450px;
}

.img2 {
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal_body {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 835px;
  height: 605px;

  margin: auto;
  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  display: none;
}

.hide {
  overflow: hidden;
}

.show {
  display: block;
}

.modal-img {
  margin-top: -10%;
  margin-left: 23%;
  display: block;
}

.m_button {
  width: 200px;
  height: 43px;
  margin-right: 15px;
  background: #ffe8e8;
  border-radius: 50px;
  border: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 53px;
  padding-bottom: 33px;
}

.page_button {
  border: 0;
  outline: 0;
  background: none;
}

.page_button1 {
  border: 0;
  outline: 0;
  color: black;
  background: none;
}

.previous {
  border: 0;
  background-color: white;
  transform: translate(-900%, 250%);
}

.previous2 {
  width: 30px;
  height: 92px;
  border: 0;
  float: left;
  background-color: white;
  font-weight: 30px;
}

.next {
  border: 0;
  background-color: white;
  transform: translate(900%, 250%);
}

.next2 {
  width: 30px;
  height: 92px;
  border: 0;

  float: right;
  background-color: white;
  font-weight: 30px;
}
