.title {
  font-size: 32px;
  font-weight: 550;
  margin-top: 175px;
  margin-left: 388px;
}

.text {
  padding-top: 12px;
  margin-left: 388px;
}

.day-button {
  position: absolute;
  display: flex;
  padding-top: 50px;
  margin-left: 388px;
}

.a {
  background-color: white;
  float: left;
  border: none;
  width: 80px;
  font-size: 17px;
  margin-left: 5px;
  text-align: center;
}

.b {
  background-color: white;
  float: left;
  border: none;
  width: 90px;
  font-size: 17px;
  margin-left: 9px;
}

a:link {
  color: #767676;
  text-decoration: none;
}

a:visited {
  color: #767676;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: black;
  text-decoration: none;
}

.review-menu {
  display: flex;

  width: 740px;
  margin-left: 443px;
  margin-top: 10px;
  font-size: 15px;
}

.line-up {
  margin-top: 100px;
  width: 935px;
  margin-left: 386px;
}

.line-down {
  margin-top: 10px;
  width: 935px;
  margin-left: 386px;
}

.order-menu {
  margin-left: 200px;
}

.grade {
  margin-left: 100px;
}

.detail-text {
  margin-left: 200px;
}

.cake-total {
  display: flex;
  font-size: 15px;
  margin-left: 425px;
  width: 930px;
  height: 80px;
  margin-top: 13px;
}

.cake {
  margin-top: 5px;
  width: 179px;
}

.cake-order-text {
  margin-left: 110px;
  padding-top: 20px;
}

.cake-grade {
  margin-left: 90px;
  padding-top: 30px;
}
.img {
  margin-left: 50px;
  border: 1px solid;
  width: 95px;
  height: 100px;
}

.detail-text-write {
  display: flex;
  margin-left: 20px;
}

.write {
  width: 170px;
  margin-left: 15px;
}

.line-box {
  width: 935px;
  margin-left: 386px;
  margin-top: 34px;
}

.page-number {
  margin-left: 820px;
  margin-top: 60px;
}

a:link {
  color: #767676;
  text-decoration: none;
}

a:visited {
  color: #767676;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: black;
  text-decoration: none;
}

.c {
  background-color: white;
  float: left;
  border: none;
  color: #767676;
  margin: 10px;
}
