.title {
  font-size: 32px;
  font-weight: 550;
  margin-top: 175px;
}

.text {
  padding-top: 12px;
}

.info-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 190px;
  margin-top: 35px;
}

.info-must {
  color: rgba(0, 0, 0, 0.53);
}

.profile-img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

.profile-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  width: 300px;
}

.total-first {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 935px;
  height: 204px;
  margin-top: 20px;
}

.img-title {
  font-size: 16px;
  margin-top: 40px;
  margin-left: 40px;
  width: 100px;
}

.img-text {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  width: 600px;
}

.img-button {
  width: 102px;
  height: 31px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 80px;
  /* margin-left: 50px; */
  font-size: 16px;
}

.total-second {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 63px;
  border-bottom: 1px solid black;
  width: 935px;
}

.nikname {
  margin-left: 40px;
  width: 100px;
}

.name {
  width: 600px;
}

.name-button {
  width: 102px;
  height: 31px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  /* margin-left: 100px; */
  font-size: 16px;
}

.total-third {
  display: flex;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid black;
  width: 935px;
  height: 63px;
}

.cellphone {
  margin-left: 40px;
  width: 100px;
}

.phone {
  width: 600px;
}

.phone-button {
  width: 102px;
  height: 31px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  /* margin-left: 400px; */
  font-size: 16px;
}

.info-sub-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 190px;
  margin-top: 100px;
}

.info-choice {
  color: rgba(0, 0, 0, 0.53);
}

.total-forth {
  display: flex;
  font-size: 16px;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 935px;
  height: 63px;
  margin-top: 20px;
}

.address-up {
  margin-left: 40px;
  width: 100px;
}

.address {
  width: 600px;
}

.address-button {
  width: 102px;
  height: 31px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  /* margin-left: 380px; */
  font-size: 16px;
}

.change-button {
  box-sizing: border-box;

  position: absolute;
  width: 103px;
  height: 30px;
  margin-left: 744px;
  margin-top: 70px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #000000;
}

.out {
  display: flex;
  font-size: 16px;

  margin-top: 120px;
}

.out-text {
  color: rgba(0, 0, 0, 0.53);
}
.out-button {
  width: 102px;
  height: 31px;
  background: #ffffff;
  border: 1px solid #000000;

  margin-left: 30px;
  font-size: 16px;
}
