.title {
  font-size: 32px;
  font-weight: 550;
  margin-top: 175px;
  /* margin-left: 388px; */
}

.day-button {
  display: flex;
  padding-top: 50px;
  /* margin-left: 388px; */
}

.a {
  background-color: white;
  float: left;
  border: none;
  width: 80px;
  font-size: 17px;
  margin-left: 5px;
  text-align: center;
}

.b {
  background-color: white;
  float: left;
  border: none;
  width: 90px;
  font-size: 17px;
  margin-left: 9px;
}

a:link {
  color: #767676;
  text-decoration: none;
}

a:visited {
  color: #767676;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: black;
  text-decoration: none;
}

.ask-menu {
  display: flex;
  width: 780px;
  /* margin-left: 443px; */
  margin-top: 10px;
  font-size: 15px;
}

.ask-user {
  margin-left: 47px;
  width: 100px;
}

.ask-type {
  width: 100px;
  margin-left: 50px;
}

.ask-content {
  width: 300px;
  margin-left: 50px;
}

.ask-day {
  width: 100px;
  margin-left: 50px;
}

.ask-menu-wrap {
  width: 935px;
}

.ask-menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 14px 0;
  width: 935px;
  margin-top: 24px;
}

.ask-menu-bar {
  display: flex;
  margin-top: 15px;
  font-size: 15px;
}

.ask-menu-name {
  width: 100px;
  margin-left: 47px;
}

.ask-menu-type {
  width: 100px;
  margin-left: 50px;
}

.ask-menu-text {
  width: 300px;
  margin-left: 50px;
}

.ask-menu-day {
  width: 100px;
  margin-left: 50px;
}

.ask-menu-answer {
  margin-left: 50px;
  border: none;
  background-color: white;
  text-decoration: underline;
}

.line-box {
  width: 935px;
  /* margin-left: 386px; */
  margin-top: 17px;
}

.page-number {
  /* margin-left: 820px; */
  margin-top: 60px;
}

a:link {
  color: #767676;
  text-decoration: none;
}

a:visited {
  color: #767676;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: black;
  text-decoration: none;
}
